.justify-start {
  justify-content: flex-start;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
*,
body {
  margin: 0;
}
* {
  padding: 0;
}
*,
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
hoja de estilo de user-agent div {
  display: block;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  tab-size: 4;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
::backdrop {
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #012c43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-3 {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.bg-tc-gray-50 {
}
.rounded-lg {
  border-radius: 0.5rem;
}
.flex-col {
  flex-direction: column;
}
.max-w-md {
  max-width: 28rem;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
*,
body {
  margin: 0;
}
* {
  padding: 0;
}
*,
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
hoja de estilo de user-agent div {
  display: block;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  tab-size: 4;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
::backdrop {
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #012c43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.justify-center {
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex {
  display: flex;
}
*,
body {
  margin: 0;
}
* {
  padding: 0;
}
*,
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
hoja de estilo de user-agent div {
  display: block;
}
.bg-tc-gray-50 {
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  tab-size: 4;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
::backdrop {
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #012c43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.mr-3 {
  margin-right: 0.75rem;
}
*,
body {
  margin: 0;
}
* {
  padding: 0;
}
*,
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
hoja de estilo de user-agent div {
  display: block;
}
.bg-tc-gray-50 {
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  tab-size: 4;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
::backdrop {
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #012c43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.w-12 {
  width: 3rem;
}
.h-12 {
  height: 3rem;
}
.inline-block {
  display: inline-block;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
*,
body {
  margin: 0;
}
* {
  padding: 0;
}
*,
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
svg[Estilo_de_atributos] {
  width: 40;
  height: 40;
}
hoja de estilo de user-agent svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
.bg-tc-gray-50 {
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  tab-size: 4;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
*,
:after,
:before {
}
:after,
:before {
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
::backdrop {
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #012c43;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.help-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
  &__container {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
.help-item {
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-bottom: 0;
    margin-left: 5px;
  }
  &__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    max-width: 254px;
    margin: auto;
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
  }
  &__schedule {
    width: 314px;
    height: 73px;
    background: var(--ion-color-primary);
    border-radius: 30px;
  }
  &__contact {
    width: 314px;
    height: 73px;
    background: var(--ion-color-secondary);
    border-radius: 30px;
  }
  &__wsp {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 960px) {
  .help-list {
    flex-direction: column;
  }
  .help-item {
    width: 100%;

    &__contact {
      width: 100%;
      height: 55px;
      background: var(--ion-color-secondary);
      border-radius: 0;
    }
    &__schedule {
      width: 100%;
      height: 55px;
      background: var(--ion-color-primary);
      border-radius: 0;
    }
    &__title {
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: normal;
    }
    &__text {
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      max-width: 140px;
    }
  }
}



//empieza contenedor de abajo

.my-benefits {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 245px;
    max-width: 245px;
  }
  &__square {
    width: 160px;
    height: 160px;
    background: var(--ion-color-secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #535353;
  }
  &__description {
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
  &__number {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #535353;
  }
  &__detail {
    width: 669px;
    margin: auto;
  }
  & span {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    & a {
      color: #00ce7c;
    }
  }
  &__share {
    margin-top: 20px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      text-align: center;
    }
  }
  &__share-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__share-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 45px;
    background: #ebebeb;
    border-radius: 5px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #000000;
    }
  }
  &__share-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 45px;
    background: #0b2240;
    border-radius: 0px 5px 5px 0px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #ffffff;
    }
  }
}
@media (max-width: 960px) {
  .my-benefits {
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
    }
    &__number {
      display: none;
    }
    &__item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin: auto;
    }
    &__square {
      width: 84px;
      height: 84px;
      border-radius: 10px;
      padding: 0 20px 0 20px;
      margin: 5px 20px 0 0;
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      margin: 0;
      color: var(--ion-color-secondary);
    }
    &__description {
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  }
}

.my-benefits {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__detail {
    width: 90%;
    margin: 60px auto;
    text-align: center;
    & span {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      & a {
        color: #00ce7c;
      }
    }
  }
  &__share {
    // margin-top: 60px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      text-align: center;
    }
  }
  &__share-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &__share-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 45px;
    background: #ebebeb;
    border-radius: 5px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #000000;
    }
  }
  &__share-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 45px;
    background: #0b2240;
    border-radius: 0px 5px 5px 0px;
    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
      color: #ffffff;
    }
  }
}
@media (max-width: 960px) {
  .my-benefits {
    &__container {
      flex-direction: column-reverse;
      padding: 10px 20px;
      padding-bottom: 70px;
    }
    &__detail {
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
      & span {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        & a {
          color: #00ce7c;
          text-decoration: none;
        }
      }
    }
    &__share-code {
      width: 147px;
      & p {
        font-size: 12px;
      }
    }
    &__share-copy {
      width: 147px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      & p {
        font-size: 12px;
      }
    }
  }
}

.social-networks {
  display: flex;
  gap: 31px;
  margin-top: 20px;
  margin-bottom: 20px;
}
