<ion-content>

  <ion-fab-button (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-fab-button>



  <ion-card class="ion-no-padding" no-padding>
    <ion-card-header color="secondary" class="ion-no-padding" no-padding>
      <div class="ion-text-center">
        <h5>Declaración de origenes de fondos.</h5>
      </div>
    </ion-card-header>
    <ion-card-content class="ion-no-padding" no-padding>

      <ion-card class="ion-no-padding" no-padding>

        <div class="ion-text-center">
          <h5>Cual es el origen de los fondos para esta operacion:</h5>
        </div>

        <ion-card-content>
          <ion-select [(ngModel)]="origen_de_fondos" id="asd2" interface="popover"
            [interfaceOptions]="{ cssClass: 'clasebancosselector', side:'bottom',  alignment:'center' }"
            placeholder="Seleccionar" style="
        width: 100%;
        border-radius: 6px;
        color: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-primary);
        ">
            <ion-select-option value="BCP">
              Banco De Crédito BCP
            </ion-select-option>
            <ion-select-option value="Interbank">
              Interbank
            </ion-select-option>
            <ion-select-option value="BBVA"> BBVA </ion-select-option>
            <ion-select-option value="ScotiaBank">
              ScotiaBank
            </ion-select-option>
            <ion-select-option value="BanBif"> BanBif </ion-select-option>
            <ion-select-option value="Pichincha">
              Pichincha
            </ion-select-option>
            <ion-select-option value="Banco de la Nación">
              Banco de la Nación
            </ion-select-option>
            <ion-select-option value="GNB"> GNB </ion-select-option>
            <ion-select-option value="Santander">
              Santander
            </ion-select-option>
            <ion-select-option value="Mi Banco"> Mi Banco </ion-select-option>
            <ion-select-option value="Falabella">
              Falabella
            </ion-select-option>
            <ion-select-option value="Banco Ripley">
              Banco Ripley
            </ion-select-option>
            <ion-select-option value="Banco del Comercio">
              Banco del Comercio
            </ion-select-option>
          </ion-select>
        </ion-card-content>

        <div class="ion-text-center">
          <h5>Cual es tu ocupación:</h5>
        </div>

          <ion-select [(ngModel)]="origen_de_fondos" id="asd2" interface="popover"
            [interfaceOptions]="{ cssClass: 'clasebancosselector', side:'bottom',  alignment:'center' }"
            placeholder="Seleccionar" style="
        width: 100%;
        border-radius: 6px;
        color: var(--ion-color-secondary);
        border: 1px solid var(--ion-color-primary);
        ">
            <ion-select-option value="BCP">
              Banco De Crédito BCP
            </ion-select-option>
            <ion-select-option value="Interbank">
              Interbank
            </ion-select-option>
            <ion-select-option value="BBVA"> BBVA </ion-select-option>
            <ion-select-option value="ScotiaBank">
              ScotiaBank
            </ion-select-option>
            <ion-select-option value="BanBif"> BanBif </ion-select-option>
            <ion-select-option value="Pichincha">
              Pichincha
            </ion-select-option>
            <ion-select-option value="Banco de la Nación">
              Banco de la Nación
            </ion-select-option>
            <ion-select-option value="GNB"> GNB </ion-select-option>
            <ion-select-option value="Santander">
              Santander
            </ion-select-option>
            <ion-select-option value="Mi Banco"> Mi Banco </ion-select-option>
            <ion-select-option value="Falabella">
              Falabella
            </ion-select-option>
            <ion-select-option value="Banco Ripley">
              Banco Ripley
            </ion-select-option>
            <ion-select-option value="Banco del Comercio">
              Banco del Comercio
            </ion-select-option>
          </ion-select>

        <div class="ion-text-center">
          <h5>Persona expuesta politicamente (PEP):</h5>
        </div>

        
        <ion-select [(ngModel)]="origen_de_fondos" id="asd2" interface="popover"
        [interfaceOptions]="{ cssClass: 'clasebancosselector', side:'bottom',  alignment:'center' }"
        placeholder="Seleccionar" style="
    width: 100%;
    border-radius: 6px;
    color: var(--ion-color-secondary);
    border: 1px solid var(--ion-color-primary);
    ">
        <ion-select-option value="BCP">
          Banco De Crédito BCP
        </ion-select-option>
        <ion-select-option value="Interbank">
          Interbank
        </ion-select-option>
        <ion-select-option value="BBVA"> BBVA </ion-select-option>
        <ion-select-option value="ScotiaBank">
          ScotiaBank
        </ion-select-option>
        <ion-select-option value="BanBif"> BanBif </ion-select-option>
        <ion-select-option value="Pichincha">
          Pichincha
        </ion-select-option>
        <ion-select-option value="Banco de la Nación">
          Banco de la Nación
        </ion-select-option>
        <ion-select-option value="GNB"> GNB </ion-select-option>
        <ion-select-option value="Santander">
          Santander
        </ion-select-option>
        <ion-select-option value="Mi Banco"> Mi Banco </ion-select-option>
        <ion-select-option value="Falabella">
          Falabella
        </ion-select-option>
        <ion-select-option value="Banco Ripley">
          Banco Ripley
        </ion-select-option>
        <ion-select-option value="Banco del Comercio">
          Banco del Comercio
        </ion-select-option>
      </ion-select>
      



      </ion-card>







    </ion-card-content>
  </ion-card>








</ion-content>