
<ion-content class="dentrodecontenedorizquierda  background-contenidodo"

>

      
      <div class="logo">
        <a  width="450px" alt=""></a>   
      </div>
  
      <div class="pasos" style="margin-right:60px!important; margin-left:30px; ">
  
          <div class="paso">
              <img src="assets/investrealperurecursos/images/cotiza.png" width="120px" alt="">
              <div class="txt">
                  <h2>Cotiza</h2>
                  <p>Ingresa el monto que vas a enviar y calcula cuánto vas a recibir. </p>
              </div>
  
          </div>
  
          <div class="paso">
              <img src="assets/investrealperurecursos/images/transfiere.png" width="120px" alt="">
              <div class="txt">
                  <h2>Transfiere</h2>
                  <p>El equivalente mediante la web o app de tu banco.</p>
              </div>
  
          </div>
  
          <div class="paso">
              <img src="assets/investrealperurecursos/images/recibe.png" width="120px" alt="">
              <div class="txt">
                  <h2>Recibe</h2>
                  <p>El monto de la cuenta bancaria que indiques.</p>
              </div>
  
          </div>
  
  
      </div>
  
  


</ion-content>

