// Oculta el menu al bajar de 768:
// @media (min-width: 768px)
// .md\:block {
//     display: block;
// }

// @media screen and (max-width: 768px) {
//     ion-split-pane {
//         display:none;
//     }
// }

.v2-badge {
  padding: 3px 8px;
  font-weight: 600;
  font-size: 10px;
  border-radius: 10px;
  white-space: nowrap;
}


.v2-badge-perfilcorreocabecera {
  color: black;
  background-color:   rgba(var(--ion-color-primary-rgb), 0.2);
  
}


ion-split-pane {
  --side-width: 300px !important;
  --side-max-width: 300px !important;
  ion-menu {
    --width: 300px !important;
    --max-width: 300px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  ion-split-pane {
    --side-width: 300px !important;
    --side-max-width: 300px !important;
    --side-min-width: 300px !important;
    ion-menu {
      --width: 300px !important;
      --max-width: 300px !important;
      --min-width: 300px !important;
    }
  }
}

@media screen and (min-width: 992px) {
  ion-split-pane {
    --side-width: 300px !important;
    --side-max-width: 300px !important;
    ion-menu {
      --width: 300px !important;
      --max-width: 300px !important;
    }
  }
}

// al seleccionar una opcion del menu se marca de color primerio
ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.2);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

// .flechitamenusuperior {
//   font-size: large;
//   // border-radius:25px;
//   // color:var(--ion-color-secondary);
//   // border: 1px solid var(--ion-color-primary);
//   // transform: scale(.3, 1);
//   display: inline-block;
//   //   font-size: 32px;
//   //   transform: scale(.5, .5);
//   -webkit-transform: scaleX(1.6);
//   transform: scaleX(1.6);
// }

@media (max-width: 600px) {
  ion-split-pane {
    --side-width: 190px !important;
    --side-max-width: 190px !important;
    ion-menu {
      --width: 190px !important;
      --max-width: 190px !important;
    }
  }
  ion-label {
    font-size: 12px !important;
  }
}




// empieza el css del slider del home pure css netflix video carousel
.contenedor_externo_carousel{


  /* Hover efecto */
ul li:hover{
  background:#34515e;
}

/* animations or animaciones */

@keyframes mouvement {
  0%{
    left:100%;
    opacity:1 ;
  }
   20%{
    left:0;
    opacity:1;
  }
  40%{
    left:-100%;
    opacity:1;
  }
  // 100%{
  //   left:-100%;
  //   opacity:0;
  // }
}


img:nth-child(2){
  animation-delay:4s;
}
img:nth-child(3){
  animation-delay:8s;
}
img:nth-child(4){
  animation-delay:12s;
}
img:nth-child(5){
  animation-delay:16s;
}

/* Basics styles */
* {
  margin:0;
  padding:0;
}


  /*Menu Styles */
ul {
  position:absolute;
}
ul li {
  float:left;
  list-style-type: none;
  height:100%;
  // padding:32px 9px;
  font-size:1.2rem;
  cursor:pointer;
  letter-spacing:2px;
}
/* Main Styles */
main {
  // height:calc(100vh - 80vh);
  display:flex;
  justify-content:center;
  align-items:center;
  background: #e8eaf6;
  position:relative;
}

  /* Images container styles */

.containerv2v2v2 {
  position:relative;
  overflow:hidden;
  // width:70vw;
  // height:15vh;
  display:flex;
  background:black;
  box-shadow: 0px 0px 49px 1px rgba(0,0,0,0.15);
}

  /* Images styles */

img {
  width:100%;
  height: 15vh;

  left:100%;
  opacity:1;
  position:absolute;
  filter:brightness(80%);
  animation:mouvement 20s infinite;
}
    
}
// termina el css del slider del home pure css netflix video carousel
