<ion-content>
  <div class="ion-text-center">
    <p>¿Tienes preguntas acerca de Investrial ? ¡Esperamos que esta lista de preguntas frecuentes pueda ayudarte!</p>
  </div>
  
  <ion-segment (ionChange)="segmentChanged($event)" [value]="ValorSegmento">
    <ion-segment-button value="1" style="margin-right: 7px;">
      <div style="padding: -15px!important;">


        <svg style="width:50%!important;height:50%!important;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd" clip-rule="evenodd">
          <path stroke="var(--ion-color-primary)"
            d="M21.19 7h2.81v15h-21v-5h-2.81v-15h21v5zm1.81 1h-19v13h19v-13zm-9.5 1c3.036 0 5.5 2.464 5.5 5.5s-2.464 5.5-5.5 5.5-5.5-2.464-5.5-5.5 2.464-5.5 5.5-5.5zm0 1c2.484 0 4.5 2.016 4.5 4.5s-2.016 4.5-4.5 4.5-4.5-2.016-4.5-4.5 2.016-4.5 4.5-4.5zm.5 8h-1v-.804c-.767-.16-1.478-.689-1.478-1.704h1.022c0 .591.326.886.978.886.817 0 1.327-.915-.167-1.439-.768-.27-1.68-.676-1.68-1.693 0-.796.573-1.297 1.325-1.448v-.798h1v.806c.704.161 1.313.673 1.313 1.598h-1.018c0-.788-.727-.776-.815-.776-.55 0-.787.291-.787.622 0 .247.134.497.957.768 1.056.344 1.663.845 1.663 1.746 0 .651-.376 1.288-1.313 1.448v.788zm6.19-11v-4h-19v13h1.81v-9h17.19z">
          </path>
        </svg>
        <ion-text>
          <p style="margin-top: 0px!important; font-size: small;">Sobre el Proceso de cambio</p>

        </ion-text>
      </div>
    </ion-segment-button>
    <ion-segment-button value="2">
      <div style="padding: -15px!important;">

        <!-- icono de la galeria ionic por Pwapp -->
        <svg  style="width:50%!important;height:50%!important;   fill: var(--ion-color-primary);
        " xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path 
            d="M368 192h-16v-80a96 96 0 10-192 0v80h-16a64.07 64.07 0 00-64 64v176a64.07 64.07 0 0064 64h224a64.07 64.07 0 0064-64V256a64.07 64.07 0 00-64-64zm-48 0H192v-80a64 64 0 11128 0z" />
        </svg>
        <!-- icono de la galeria ionic por Pwapp -->
        <ion-text>
          <p style="margin-top: 0px!important; font-size: small;">Sobre el Proceso de cambio</p>

        </ion-text>
      </div>
    </ion-segment-button>
    <ion-segment-button value="3" style="margin-left: 7px;">
      <div style="padding: -15px!important;">


        <svg style="width:50%!important;height:50%!important;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd" clip-rule="evenodd">
          <path stroke="var(--ion-color-primary)"
            d="M9.484 15.696l-.711-.696-2.552 2.607-1.539-1.452-.698.709 2.25 2.136 3.25-3.304zm0-5l-.711-.696-2.552 2.607-1.539-1.452-.698.709 2.25 2.136 3.25-3.304zm0-5l-.711-.696-2.552 2.607-1.539-1.452-.698.709 2.25 2.136 3.25-3.304zm10.516 11.304h-8v1h8v-1zm0-5h-8v1h8v-1zm0-5h-8v1h8v-1zm4-5h-24v20h24v-20zm-1 19h-22v-18h22v18z">
          </path>
        </svg>
        <ion-text>
          <p style="margin-top: 0px!important; font-size: small;">Sobre el Proceso de cambio</p>

        </ion-text>
      </div>
    </ion-segment-button>
  </ion-segment>

  <ion-item-divider></ion-item-divider>

  <section *ngIf="ValorSegmento==='1'">


  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>¿Cuál es el procedimiento del cambio?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list [inset]="true">
          <ion-item>
            <ion-label><strong>Paso 1</strong>Crear cuenta: Registrate en InvestReal</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Paso 2 </strong>Cotiza: Ingresa el monto que v as a enviar y calcula cuánto vas a recibir.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Paso 3 </strong>Transfiere: El equivalente mediante la web o app de tu banco.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Paso 4 </strong>Recibe: El monto de la cuenta bancaria que indiques.</ion-label>
          </ion-item>
        </ion-list>
        
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>¿Con qué bancos trabajan?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Para brindarte un servicio eficiente y seguro, colaboramos con diversos bancos. Para cambios de dólares inmediatos online, trabajamos con <strong>Interbank y BCP</strong>. Si prefieres realizar cambios de dólares online con un proceso que puede tomar hasta 24 horas, también operamos con Scotiabank, BBVA, Banco Pichincha, entre otros. Esto nos permite ofrecerte múltiples opciones y flexibilidad para manejar tus transacciones financieras según tus necesidades.</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>¿Dónde encuentro el número de operación?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Puedes encontrar el número de tu transacción fácilmente dentro de tu perfil. Solo necesitas acceder a la sección “Mis Operaciones”, donde se listan todas tus transacciones realizadas. Ahí encontrarás el número correspondiente a cada operación que hayas efectuado en nuestra plataforma.</div>
    </ion-accordion>
    <ion-accordion value="444">
      <ion-item slot="header" color="light">
        <ion-label>¿Por qué solo me permiten seleccionar la cuenta del destino? ¿Cómo debitarán el dinero?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Permitimos seleccionar solo la cuenta de destino para simplificar el proceso y asegurar que los fondos lleguen correctamente al destinatario deseado. Para debitar el dinero, debes autorizar la transacción desde tu cuenta bancaria vinculada a nuestra plataforma. Este proceso se realiza de manera segura y automática una vez que confirmas la transacción y eliges la cuenta de destino. Así garantizamos la seguridad y la eficiencia de cada operación.</div>
    </ion-accordion>

    <ion-accordion value="555">
      <ion-item slot="header" color="light">
        <ion-label>¿Hasta qué monto puedo cambiar en Investreal?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Hasta 10.000 Dolares Estadounidences $10.000 o su equivalente en Soles</div>
    </ion-accordion>

  </ion-accordion-group>
</section>

<section *ngIf="ValorSegmento==='2'">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>¿Es necesaria la validacion de transicion?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Sí, la validación de transacción es un paso esencial en nuestro proceso para asegurar la seguridad y autenticidad de cada operación. Este proceso ayuda a proteger tu cuenta y tus fondos contra fraudes o errores. Al validar cada transacción, confirmamos que quien realiza la operación es el titular legítimo de la cuenta y que los detalles proporcionados son correctos.</div>

    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>¿Como realizo mi validacion de transicion?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Para validar tu transacción, simplemente accede a la sección “Mis Operaciones” o “Historial” en tu perfil. Allí encontrarás todas tus transacciones pendientes. Selecciona la transacción que deseas validar y sigue las instrucciones para completar el proceso de verificación. Esto asegura que eres tú quien autoriza y completa la transacción de manera segura.</div>
    </ion-accordion>



  </ion-accordion-group>

</section>

<section *ngIf="ValorSegmento==='3'">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Terminos y Condiciones</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <h2 style="color:var(--ion-color-primary)">
          TÉRMINOS Y CONDICIONES DE INVESTREAL NEGOCIACIONES E.I.R.L.
        </h2>



     Al registrarte y hacer uso de nuestros servicios, aceptas todas las condiciones de este acuerdo. Revisa esta información importante detalladamente antes de usar nuestros servicios.
Investreal se reserva el derecho a modificar sus Términos y Condiciones de forma unilateral mediante la publicación de una nueva versión en el sitio web de la Empresa. De modificarse en aspectos sustanciales, Investreal te notificará sobre ello por correo electrónico.


<h3 style="color:var(--ion-color-primary)">
  ¿Quiénes somos?
</h3>

     Investreal es una plataforma de cambio de divisas en línea, con domicilio fiscal en Jr. Lima N° 235 – 1er Piso Huancayo, provincia de Huancayo y departamento de Junín, Perú.
Estamos inscritos en el Registro de Empresas y Personas que efectúan Operaciones Financieras o de Cambio de Moneda.


<h3 style="color:var(--ion-color-primary)">
  USO DE NUESTRA PLATAFORMA
</h3>


<h3 style="color:var(--ion-color-primary)">
  ¿Qué obligaciones tengo como usuario?
</h3>


     Para hacer uso de nuestros servicios, debes ser mayor de 18 años de edad y tener una cuenta bancaria en Soles (S/) y/o en Dólares (USD) en un banco en el Perú. La cuenta registrada en Investreal será de uso personal e intransferible.
En caso te pidamos información adicional a fin de verificar tu identidad, deberás cumplir con brindarnos dicha información y asegurarte que los datos que nos proporciones sean correctos y actuales.

     Investreal podría rechazar a cualquier nuevo usuario o transferencia a discreción y sin expresión de causa ante la sospecha de que se estén utilizando nuestras plataformas para realizar operaciones fraudulentas y/o delictivas.

     De igual manera, Investreal se encuentra facultado para dar de baja cuentas a discreción, ante la sospecha de que estén siendo empleadas para la ejecución de operaciones fraudulentas y/o actos delictivos.

     Una vez que Investreal haya realizado la transacción, ésta no podrá revertirse y la Empresa no se responsabilizará en ningún caso por cualquier daño o pérdida sufrida por el usuario como consecuencia de la negligencia de éste al momento de ingresar los datos que solicitamos.

     El usuario se obliga a no utilizar los servicios de Investreal para cualquier fin o actividad ilegal. En ese sentido, Investreal se reserva el derecho a investigar y/o reportar cualquier actividad sospechosa o ilegal a la autoridad pertinente, y brindarle cualquier información que requieran, incluyendo los datos personales del usuario. De igual forma, Investreal podrá dar seguimiento a aquellos casos que tengan lugar como consecuencia de reclamos o de reportes de violaciones de los términos y condiciones.
Como usuario, te comprometes a observar y respetar los parámetros del servicio, evitando utilizar una cuenta bancaria distinta a la registrada, ingresar información falsa u otros
actos similares que afecten directa o indirectamente la calidad del servicio brindado por Investreal.

<h3 style="color:var(--ion-color-primary)">
  Usuarios y Perfiles:
</h3>



     Cada usuario creado en Investreal, podrá crear un perfil de persona natural y varios perfiles de personas jurídicas. Los perfiles permitirán tener un mayor orden contable del distinto tipo de personas a las que el usuario representa.
En caso de que detectemos que un mismo usuario tiene dos cuentas (duplicidad de cuentas), Investreal podría fusionarlas, sin necesidad de avisar al titular de las cuentas.

<h3 style="color:var(--ion-color-primary)">
  ¿Cómo crear una cuenta y verificar tu identidad?
</h3>


     Para poder operar a través de Investreal, debes crear una cuenta en la plataforma a través página web, completando la información requerida.
Durante el proceso de creación de la cuenta, Investreal te pedirá validar tu identidad a través de su sistema de verificación, así como información relativa al tratamiento de tus datos personales en nuestra Política de Privacidad de datos.
Al hacer uso de los servicios de Investreal, declaras y reconoces que has brindado datos ciertos y actualizados, y asumes la obligación de completar todos los procedimientos que forman parte del proceso de creación de la cuenta.


<h3 style="color:var(--ion-color-primary)">
  ¿Cómo realizo una operación?
</h3>


     Debes enviar tus órdenes de compra desde la página web; para ello deberás brindar la siguiente información:

● Número de la cuenta bancaria en Soles o Dólares de destino (debe ser de titularidad del mismo usuario).
● Número de tu documento de identidad (DNI, C.E., RUC, pasaporte).
● Monto a cambiar y moneda.

     Es importante señalar que la operación sólo será procesada y completada una vez que se haya confirmado y validado el abono de los fondos a las cuentas de Investreal. La corroboración se hará con la recepción del número de operación ingresado por el usuario en la web.

     Recuerda que Investreal no tiene y no te pedirá acceso a tus cuentas bancarias, por lo que para poder realizar tu operación de cambio deberás realizar la transferencia del monto que desees cambiar desde tu aplicativo de banca móvil.

     Asimismo, es responsabilidad del usuario enviar los fondos durante el horario de atención de la Empresa a fin de asegurar el procesamiento de la orden de compra. Dicho horario de atención es de lunes a viernes de 9:00 a 19:00, y sábados de 9:00 a 15:00.

     <h3 style="color:var(--ion-color-primary)">
       ¿Cómo reviso mis transacciones?
    </h3>



     Puedes acceder al detalle de tus operaciones realizadas y otra información relacionada a tu cuenta, dando click en la pestaña “Historial de operaciones”, ingresado a su cuenta personal.

     <h3 style="color:var(--ion-color-primary)">
       ¿Puedo cancelar mi operación?
    </h3>



     Sí. Puedes cancelar tu operación sin costo alguno en cualquier momento siempre y cuando no hayas transferido los fondos a las cuentas de Investreal. Una vez realizada la transferencia, podrás pedir la cancelación de tu operación siempre y cuando ésta aún no haya sido procesada y no se haya abonado el monto a tu cuenta; de lo contrario quedarás sujeto a asumir los gastos generados.

     <h3 style="color:var(--ion-color-primary)">
       ¿Cuánto tiempo toma realizar una operación?
    </h3>



     Todas las solicitudes de operación recibidas dentro del horario de atención, y en días útiles se procesarán a partir del momento en recibamos la suma a cambiar. Una vez recibida, el tiempo para que nosotros ejecutemos el cambio será alrededor de 15 a 20 minutos, siempre y cuando la operación haya sido realizada desde y hacia una cuenta del BCP, Interbank, o Caja Huancayo y no se hayan establecido tiempos diferentes.

     Investreal no influye en las operaciones que los bancos realizan, por ende, no se hace responsable por la tardanza en el envío de los fondos por parte del banco o bancos.

     Dicho lo anterior, cabe señalar que la Empresa monitorea continuamente sus cuentas bancarias, y asume la obligación de completar tu operación, y notificar al respecto siempre y cuando sean recibidas antes de las 19:00 horas de un día útil. Si Investreal recibiera los fondos pasada dicha hora, la operación será completada al siguiente día útil.

     Las solicitudes de operación recibidas durante un día no hábil también serán procesadas al siguiente día útil.

     Es importante destacar que los tiempos mencionados anteriormente se encuentran sujetos a variaciones que podrían ser ocasionadas por verificaciones de seguridad adicionales en función a la suma a cambiar y/o disponibilidad de las plataformas bancarias utilizadas.

     Estas condiciones son completamente ajenas a Investreal y podrían retrasar el procesamiento de las operaciones.

     <h3 style="color:var(--ion-color-primary)">
       ¿Cómo transferir mi dinero a las cuentas de Investreal?
    </h3>



     Investreal recibirá los fondos en sus cuentas a través de transferencias bancarias y, por esta misma vía, transferirá dichos fondos a la cuenta señalada por el usuario. Es importante recalcar que la cuenta de destino de los fondos debe ser de titularidad del mismo usuario o perfil que crea la cuenta. Investreal no realiza transferencias a cuentas de terceros.
Asimismo, el usuario se compromete a realizar la transferencia de los fondos desde su cuenta bancaria, sin la intervención de cualquier tercero que pueda servir como intermediario.

<h3 style="color:var(--ion-color-primary)">
  ¿Investreal tiene más de una cuenta bancaria?
</h3>


     Sí. El usuario reconoce y asume la responsabilidad de verificar la cuenta de destino a la que le transfiere los fondos a Investreal, para ello debe tener en consideración que tenemos cuentas en Soles y en Dólares, y que una difiere de la otra.
Investreal no se responsabiliza de ninguna manera por la negligencia del usuario en este aspecto.

<h3 style="color:var(--ion-color-primary)">
  ¿Qué transferencias son consideradas interbancarias?
</h3>


     Investreal tiene cuentas bancarias en Soles y Dólares en el Banco de Crédito del Perú (BCP), Interbank (Banco Internacional del Perú) y Caja Huancayo. Las transferencias que se realicen desde y hacia otros bancos (Scotiabank, BBVA Continental, Banco Financiero,
Banco de la Nación, entre otros) serán consideradas transferencias interbancarias diferidas. El tipo de cambio ofrecido en estas operaciones se mantendrá vigente por un plazo máximo de 24 horas hábiles desde la creación de la operación.

     Cabe recalcar que el usuario asumirá el costo de la transferencia interbancaria. El costo de dichas transferencias depende del banco ejecutante.

Es importante resaltar que el dinero de las transferencias interbancarias está sujeto a horarios, pudiendo ocasionar que el tiempo estimado para estas operaciones se dilate. El tiempo que tome la transferencia interbancaria diferida dependerá del banco emisor y de la Cámara de Compensación Electrónica (CCE). En ese sentido, el usuario asume la responsabilidad en caso de demora es los siguientes supuestos:

     Cuando la operación no sea realizada de lunes a viernes dentro del horario de atención, puesto que las operaciones sólo se procesan los días útiles (por ejemplo: si la transferencia se realiza en la tarde del viernes, ésta se procesará el lunes en la mañana o el siguiente día útil.
Por errores en el ingreso de los datos registrados por el usuario.

<h3 style="color:var(--ion-color-primary)">
  ¿Existen restricciones a las transferencias?
</h3>


     Sí. Investreal se reserva el derecho, a (i) rechazar una transferencia de dinero solicitada sin justificación alguna; (ii) limitar el monto de las operaciones; (iii) solicitar información adicional para efectuar la transferencia de dinero; o (iv) tomar medidas razonables en relación a la transferencia de dinero a fin de cumplir con las leyes y normativa aplicables.

     <h3 style="color:var(--ion-color-primary)">
       ¿Investreal realiza transferencias a cuentas de terceros?
    </h3>


     Investreal no realiza transferencias a cuentas de terceros. Es decir, todas las operaciones efectuadas a través de las plataformas de Investreal sólo podrán ser ejecutadas entre cuentas del mismo usuario.

     <h3 style="color:var(--ion-color-primary)">
       ¿Cómo sé si ocurre un error en la transferencia?
    </h3>


     En caso notes un error en el monto enviado o recibido como consecuencia del uso de
nuestros servicios, comunicate inmediatamente con la empresa al correo electrónico contacto@investrealperu.com o a través de Whatsapp al número 915157485.

     De igual manera, si adviertes que has recibido montos distintos a los especificados en tu solicitud de operación, ponte en contacto con nosotros inmediatamente para poder realizar las gestiones necesarias para regularizar tu operación.

     Ocurre un error cuando el usuario o Investreal transfieren un monto distinto al acordado en la web. Al ocurrir dicho error, se debe definir si el saldo excedente o deficiente es a favor del usuario o de Investreal.

     Tanto el usuario, como Investreal se comprometen a transferir la cantidad necesaria para cumplir con lo acordado en la web. En caso ocurra un error en la transferencia por parte del usuario que perjudique a la Empresa, el usuario se obliga a reintegrar el monto diferencial a las cuentas que mantiene Investreal en un plazo no mayor a 15 días calendario contados a partir de la realización de la operación.

     Si el usuario incumple con esta obligación, Investreal se encontrará facultada a tomar las medidas que sean necesarias para recuperar el saldo a favor suyo. Mientras este saldo será considerado y tratado como una deuda a favor nuestro. Para cualquier comunicación o consulta sobre errores en las transferencias puedes comunicarte al correo cobranzas@investrealperu.com


     <h3 style="color:var(--ion-color-primary)">
       ¿Investreal podría rechazar una transferencia?
    </h3>


     Investreal puede rechazar una operación en caso no podamos validar el nombre del usuario con los datos asociados a la cuenta que recibirá la transferencia. En este caso, el usuario será responsable de asumir los costos que la transferencia de los fondos de vuelta pueda generar.

     <h3 style="color:var(--ion-color-primary)">
       ¿Puedo realizar mis depósitos en efectivo?
    </h3>


     Investreal no acepta depósitos en efectivo por mandato de la ley.
Si detectamos que el usuario ha realizado un depósito en efectivo, procederemos a devolver el dinero mediante transferencia a la cuenta bancaria vinculada al usuario en la plataforma. Esta transferencia podría demorar hasta un día hábil e implicar gastos que deberán ser asumidos por el usuario.

<ion-item-divider></ion-item-divider>
<h2 style="color:var(--ion-color-primary)">
  Tipo de cambio
</h2>


<h3 style="color:var(--ion-color-primary)">
  ¿Cuánto tiempo de vigencia tiene el tipo de cambio?
</h3>


     El tipo de cambio al momento de la transacción de la orden de compra, tendrá vigencia de 10 minutos desde el momento en que inicias tu operación. En este lapso de tiempo deberás transferir el monto a cambiar a la cuenta indicada por Investreal para ser procesada.
Si la transacción no es completada dentro de las dos horas de creada la operación, Investreal procederá a la anulación de la operación.
Para confirmar el tipo de cambio, el usuario deberá ingresar el código de su operación bancaria o la imagen correspondiente de la transferencia de su cuenta a las nuestras, para su verificación.

        <h3 style="color:var(--ion-color-primary)">
¿Cómo funciona el tipo de cambio preferencial?
        </h3>


     Puedes acceder a un tipo de cambio preferencial si cambias montos mayores o partir de S/20,000 o $5,000. Para ello, es necesario que indiques el monto y acceder a la parte de “Tipo de cambio preferencial” a través de whatsapp número 915157485.

     Una vez que aceptes tu tipo de cambio preferencial, debes crear tu operación en un periodo de hasta 5 minutos para poder conservarlo. Una vez creada tu operación, tienes hasta 10 minutos para realizar la transferencia de los fondos a las cuentas de Investreal y adjuntar la constancia de tu transferencia en la web.

     Por temas de prevención de fraude, de manera aleatoria podríamos brindarte un tipo de cambio preferente de manera referencial que se consolidará al momento en que realices la transferencia de los fondos. Para poder fijar dicho tipo de cambio preferente, podríamos solicitarte tu comprobante de transferencia antes de ejecutar tu operación. De no tener en cuenta estos tiempos, podrías perder tu tipo de cambio preferencial debido al constante movimiento del dólar en el mercado.

     El tipo de cambio preferencial aplica de lunes a viernes de 9:30 a 16:30 para cuentas del BCP, y para otros bancos de 9:30 a 13:30. El tipo de cambio preferencial no aplica a operaciones realizadas fuera del horario de atención.

     Dependiendo del monto que vayas a cambiar, podría ser necesario que tengas que acercarte a la agencia de tu banco para poder realizar la transferencia a nuestras cuentas. Para estos casos te sugerimos tener en cuenta los tiempos señalados arriba para poder conservar tu tipo de cambio preferencial y evitar que se archive la operación y tengas que realizar una nueva cotización.

<ion-item-divider></ion-item-divider>

        <h2 style="color:var(--ion-color-primary)">
TÉRMINOS GENERALES
        </h2>

        <h3 style="color:var(--ion-color-primary)">
¿Investreal cobra comisión por las operaciones de cambio?
        </h3>

     No cobramos ninguna comisión por el uso de nuestra plataforma. No obstante, podrían generarse cargos adicionales por cancelación de operaciones según lo señalado en este documento.

        <h3 style="color:var(--ion-color-primary)">
¿Qué cargos adicionales podrían generarse?
        </h3>


     Los cargos adicionales son aquellos asociados a transferencias rechazadas o operaciones canceladas luego de la transferencia inicial de los fondos a las cuentas de Investreal.

        <h3 style="color:var(--ion-color-primary)">
¿Cómo usar mi cupón de descuento?
        </h3>


     Una vez que obtengas tu cupón de descuento debes ingresarlo en el espacio “Ingresa el cupón” debajo de la calculadora, en la web. Al presionar “Aplicar” podrás acceder a un tipo de cambio mejorado en tu operación.

     Los cupones generalmente se entregan por ocasiones especiales o alianzas con socios comerciales estratégicos.

        <h3 style="color:var(--ion-color-primary)">
¿Cómo funcionan las alertas del tipo de cambio?
        </h3>


     Puedes suscribirte a las alertas para conocer los movimientos del tipo de cambio. Las notificaciones pueden realizarse de manera diaria o cuando la ‘compra’ o ‘venta’ alcance el valor que indiques. La notificación se realizará por correo electrónico o por SMS al número de contacto brindado por el usuario con el tipo de cambio vigente al momento del envío de la alerta.
El registro de alertas es gratuito, y los usuarios pueden cancelar su suscripción en cualquier momento.

        <h3 style="color:var(--ion-color-primary)">
¿Investreal emite boletas y facturas electrónicas?
        </h3>


      Sí. Las boletas electrónicas serán emitidas a los usuarios que estén registrados como personas naturales y las facturas a los usuarios registrados como personas jurídicas.
La respectiva boleta y/o factura será emitida hacia el perfil que ejecute la operación, sea persona natural o persona jurídica.
Por normativa de la Superintendencia Nacional de Aduanas y de Administración Tributaria (SUNAT), las operaciones de cambio de divisas están exentas del pago de IGV, es decir, no existe un cobro adicional por concepto de IGV.

        <h3 style="color:var(--ion-color-primary)">
¿Cómo presento un reclamo?
        </h3>


     Estamos comprometidos con brindarte los estándares más altos en nuestro servicio. Sin embargo, siempre podemos mejorar. Si tienes un reclamo sobre nuestros servicios puedes encontrar nuestro libro de reclamaciones virtual en www.investrealperu.com o escribirnos a contacto@investrealperu.com.

     Prevención del Lavado de Activos y Financiamiento del Terrorismo (PLAFT)

     Al hacer uso de los servicios de Investreal declaras y garantizas que en todo momento realizaras tus operaciones observando todas las leyes anticorrupción y las normas relativas a la Prevención del Lavado de Activos y Financiamiento del Terrorismo (Leyes PLAFT), y que todos los recursos que utilices para ejecutar tus operaciones conforme a los presentes Términos y Condiciones provienen de fuentes lícitas.

        <h3 style="color:var(--ion-color-primary)">
Ley y Jurisdicción
        </h3>


     La provisión del servicio y la resolución de cualquier reclamo, disputa o controversia que pueda surgir como consecuencia del mismo en los términos que se señalan en el Acuerdo se regirán por la ley peruana.

        <h3 style="color:var(--ion-color-primary)">
Cambios en los términos
        </h3>


     Como se menciona en la introducción de este documento, Investreal tiene la facultad de cambiar los términos y condiciones de uso unilateralmente y/o cuando la Ley lo requiera.
Asimismo, de ser requerido por Ley, publicaremos un aviso sobre ello en nuestra web. Por otro lado, cuando no lo requiera la Ley o cuando sea necesario un cambio inmediato por cuestiones de seguridad, Investreal podría no realizar dicho aviso.
Al continuar utilizando los servicios luego de dicho cambio, el usuario acepta las modificaciones realizadas a partir de la fecha de publicación o realización de dichos cambios.

        <h3 style="color:var(--ion-color-primary)">
Privacidad de datos
        </h3>


     Investreal se compromete a proteger tu privacidad, almacenando de forma encriptada tus contraseñas en los servidores de la empresa.
Toda la información sensible entre tu navegador e Investreal se transfiere de forma encriptada utilizando SSL, por lo que debes asegurarte que tu navegador reconozca y valide el certificado de www.investrealperu.com.
Para mayor información puedes revisar nuestra Política de Privacidad de Datos.
 
      </div>

    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Politicas de privacidad</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
        <h2 style="color:var(--ion-color-primary)">Políticas de Privacidad</h2>
        Proteger su información, privacidad y datos financieros es muy importante para Investreal Negociaciones E.I.R.L. («Investreal», «La Empresa» o «nosotros»).
   Esta Política de Privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos su información personal en cumplimiento con la normativa vigente sobre Protección de Datos Personales en Perú (Ley N° 29733 y Decreto Supremo 003-2013-JUS).
   
        Por favor, lea detenidamente este documento para entender la información que recolectamos sobre usted, cómo la usamos y las circunstancias bajo las cuales la compartiremos con terceras partes.
   
        <h3 style="color:var(--ion-color-primary)">
          Consentimiento
        </h3>
   
        Al utilizar la plataforma web de Investreal, usted acepta esta Política de Privacidad y presta su consentimiento expreso para que Investreal recolecte y procese su información personal. Asimismo, usted declara estar de acuerdo con todos los aspectos expuestos en este documento y nos autoriza a tratar sus datos personales para las finalidades descritas. Cabe precisar que la Empresa no requiere consentimiento para tratar datos personales obtenidos de fuentes accesibles al público y podrá tratar datos personales de fuentes no públicas siempre que dichas fuentes cuenten con su consentimiento para tratar y transferir dichos datos.
   
        <h2 style="color:var(--ion-color-primary)">
          Información Personal
          Definición
        </h2>
   
        Por información personal nos referimos a cualquier dato que se encuentre asociado a una persona natural específica y que pueda ser razonablemente utilizado para identificar a dicha persona. La información personal no incluye datos que hayan sido anonimizados de manera que no puedan ser utilizados para identificar a una persona.
   

        <h2 style="color:var(--ion-color-primary)">
          Información que recolectamos

        </h2>
           
   
        Podemos recolectar y procesar la siguiente información sobre usted:
   Información proporcionada por usted
        Datos ingresados al completar formularios en nuestra página web, o al interactuar con nosotros por vía telefónica, correo electrónico u otros medios.
   Información proporcionada al registrarse como usuario, realizar operaciones o reportar problemas en la página web.
   Datos que incluyen su nombre, fecha de nacimiento, dirección, números de cuenta bancaria e interbancaria, descripción personal, ubicación geográfica, fotografía, copias de documentos de identidad, entre otros.
   
   <h2 style="color:var(--ion-color-primary)">
     Información recolectada automáticamente
  </h2>
   
        Con respecto a cada visita que realiza a nuestra página web, podríamos recolectar automáticamente la siguiente información:
   Detalles de las transacciones realizadas a través de la página web, incluyendo la ubicación geográfica desde la cual se genera.
        Información técnica, como la dirección IP utilizada para conectarse desde su computadora a internet, información de ingreso a su cuenta de usuario, tipo de navegador y versión, configuración horaria, plug-ins asociados, sistema operativo y plataforma.
        Información sobre su visita, incluyendo el clickstream completo de URL hacia, a lo largo de, y desde nuestra página web (incluyendo fecha y hora); lo que se vio y las búsquedas que se realizaron; tiempos de respuesta de la página, errores de descarga, tiempos de visita a ciertas páginas, información de interacción con la página y métodos usados para salir de la página, así como cualquier número de teléfono utilizado para contactar a servicio al cliente.
        <h2 style="color:var(--ion-color-primary)">
          Información que recibimos de otras fuentes
        </h2>
   
        Podríamos recibir información sobre usted si utiliza cualquier otra página web operada por nosotros o asociada a cualquier otro servicio provisto por nosotros. También podríamos recibir información de los bancos u otras instituciones financieras utilizadas para transferir fondos, así como de terceras partes (como agencias de historial crediticio, proveedores de análisis de datos, redes de publicidad, negocios aliados, entre otros).
        <h2 style="color:var(--ion-color-primary)">
          Usos de la información recolectada
          Información proporcionada por usted
          
        </h2>
        Para cumplir con nuestras obligaciones contractuales y proveer los productos y servicios solicitados.
        Para informarle sobre otros bienes y servicios similares a los que usted ya utiliza.
       Para enviarle anuncios y ofertas de servicios por medio del correo electrónico registrado, SMS y/o llamadas al número telefónico registrado.
   
        Para la ejecución y mantenimiento de otras relaciones contractuales, como gestiones de cobranza y desarrollo de operaciones.
   Para asegurarnos de que el contenido presentado en nuestra página web sea el más adecuado según sus preferencias y dispositivos.
        Para cumplir con los requerimientos legales y regulatorios impuestos por las autoridades competentes.
   
        <h2 style="color:var(--ion-color-primary)">
          Información recolectada automáticamente
        </h2>

   
        Para administrar nuestra página web y realizar operaciones internas como solución de problemas, análisis de datos, pruebas, fines estadísticos y de investigación.
        Para permitirle participar en partes interactivas de nuestros servicios cuando lo desee.
        Para asegurar, mantener y mejorar la seguridad de nuestra página web.
       Para medir y entender la efectividad de la publicidad enviada a usted y a otros, con el fin de enviarle publicidad relevante y adecuada a sus intereses.
        Para brindarle recomendaciones sobre otros bienes y servicios que podrían interesarle.
   
        <h2 style="color:var(--ion-color-primary)">
          Información recibida de otras fuentes
        </h2>
   
        Podríamos combinar la información proporcionada por usted con información recolectada de otras fuentes para actualizar datos incompletos o sustituirlos, basándonos en consultas a fuentes de acceso público.
        La información combinada podría ser usada para cualquiera de los fines mencionados anteriormente.
   
        <h2 style="color:var(--ion-color-primary)">
          Revelación de su información
        </h2>
   
        Podríamos compartir su información personal con cualquier miembro de nuestro grupo, es decir, subsidiarias, holding o sus subsidiarias. Asimismo, podríamos compartir su información con terceros seleccionados, incluyendo:
   
        Negocios aliados, proveedores o terceros contratados para proveer cualquier contrato que tengamos con usted o para ayudar a mejorar nuestro servicio.
        Agencias de publicidad que requieran datos para seleccionar y enviar avisos relevantes a usted o terceros.
   Proveedores de análisis de datos y de buscadores que nos asistan en la mejora y optimización de nuestros servicios.
   Entes reguladores o autoridades en el ejercicio de sus funciones que así nos lo demanden.
   
        También podríamos compartir su información personal con terceros en las siguientes circunstancias:
   
        En caso de que se venda o compre cualquier unidad del negocio o activo, es necesario revelar su información personal a potenciales compradores o vendedores.
        Si Investreal o todos sus activos son adquiridos por un tercero, en cuyo caso la información personal recolectada podría ser uno de los activos a transferir.
        Si estamos bajo obligación de revelar o compartir su información personal para cumplir con cualquier obligación legal, o para aplicar los Términos y Condiciones, o para proteger los derechos, propiedad y seguridad de Investreal, de nuestros usuarios o de terceros. Esto incluye intercambiar información con otras compañías y organizaciones con objetivos de protección frente a fraudes, investigación de crímenes financieros o para asistir en el cumplimiento de la ley.
   
        <h2 style="color:var(--ion-color-primary)">
          Almacenamiento y Seguridad de la Información
          Dónde almacenamos su información personal
          
        </h2>

        La información recolectada podría ser transferida y almacenada en un destino fuera del Perú. También podría ser procesada por trabajadores operando fuera del Perú que trabajen para nosotros o para algún proveedor. Estos trabajadores podrían estar asociados a actividades como la provisión de servicios de soporte o de análisis de datos. Al enviar su información personal, usted reconoce estar de acuerdo con esta transferencia, almacenamiento o procesamiento. Tomaremos todas las medidas necesarias para asegurarnos de que su información sea tratada de forma segura y de acuerdo con esta Política de Privacidad.
   
        <h2 style="color:var(--ion-color-primary)">
          Medidas de seguridad
        </h2>

   
       Toda la información que nos envíe se almacena en nuestros servidores seguros. Cualquier transacción de pago se encriptará usando SSL y/o alguna otra tecnología de seguridad cibernética. Usted es responsable de mantener la confidencialidad de la contraseña seleccionada para acceder a ciertas partes de la página web. Le pedimos no compartir su contraseña con nadie ya que Investreal no se hará responsable ante la pérdida, mal uso o robo de su contraseña.
   
                       Desafortunadamente, la transmisión de información a través de internet no es completamente segura. A pesar de que haremos el mayor esfuerzo posible para proteger su información, no podemos garantizar la seguridad de la información transmitida a nuestra página web; cualquier transmisión es bajo su propio riesgo. Una vez recibida la información, realizaremos los procedimientos estrictos y procesos de seguridad para evitar cualquier acceso no autorizado.
   
        Restringimos el acceso a su información personal a empleados de Investreal que tengan necesidad de conocerla por razones asociadas a los servicios brindados. Continuamente capacitamos a nuestros trabajadores sobre la importancia de la confidencialidad y privacidad de la información de los usuarios. Mantenemos procesos que cumplen con los requerimientos legales para proteger su información personal de cualquier acceso no autorizado.

      
        
        
        
        </div>
    </ion-accordion>


    <ion-accordion value="33333">
      <ion-item slot="header" color="light">
        <ion-label>Politicas de cookies</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
        <h2 style="color:var(--ion-color-primary)">
          Cookies
        </h2>

        Nuestra página web utiliza cookies para distinguirlo de cualquier otro usuario. Esto nos ayuda a brindarle una buena experiencia cuando navegue por nuestra página web y, al mismo tiempo, nos permite mejorarla. Las cookies son pequeños ficheros de información que se almacenan en su ordenador o dispositivo móvil. Esta es una práctica común en todos los sitios web. Las cookies no se usan para identificarlo personalmente.
   
        La utilización de nuestro sitio web implica su aceptación del uso de cookies. Recuerde que es posible desactivar las cookies almacenadas en su computadora cambiando la configuración de su navegador. Sin embargo, esto podría afectar el correcto funcionamiento de nuestra página web.
        <h2 style="color:var(--ion-color-primary)">
          Sus derechos
        </h2>
   
         Usted puede ejercer sus derechos de acceso, rectificación, cancelación y oposición, de impedir el suministro de sus datos personales, de oposición al tratamiento o de tratamiento objetivo de los datos, en los términos recogidos en la legislación peruana vigente. Para poder ejercer estos derechos, los usuarios deberán dirigir la solicitud a la dirección de correo electrónico: contacto@investrealperu.com con el asunto «Protección de Datos Personales», consignando sus datos, acreditando su identidad y los motivos de su solicitud.
   
        Nuestra página web podría contener enlaces a otras páginas web de empresas aliadas, afiliadas o publicitarias. En ese sentido, debe tener en cuenta que si sigue un enlace hacia cualquiera de estas páginas, las mismas disponen de sus propias políticas de privacidad, de las cuales usted deberá estar al tanto. Investreal no asumirá ni aceptará ninguna responsabilidad por dichas políticas, ya que no tenemos ningún control sobre ellas.
   
        Modificaciones a la Política de Privacidad
   Investreal se reserva el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio que realicemos en nuestra Política de Privacidad será publicado en esta página y, cuando corresponda, notificado a usted por correo electrónico. Por favor, revise con frecuencia esta página para ver actualizaciones o cambios a nuestra Política de Privacidad.
      
      
      
      
      </div>
    </ion-accordion>

</ion-accordion-group>

</section>

</ion-content>