
<section class="pieimportado" >


  
  <section class="ocultar767paraabajo">
    
    <footer>

  <div class="logo">
      <img src="assets/investrealperurecursos/logo_blanco.png" width="200px" alt="">
  </div>

  <div class="legales">
      <h2>LEGALES</h2>
      <div class="TyC"> <a href="">
              <h3 class="textoresponsive">Terminos y Condiciones</h3>
          </a></div>
      <div class="SN"><a href="nosotros.html">
              <h3 class="textoresponsive">Sobre Nosotros</h3>
          </a></div>
      <div class="help"><a href="ayuda.html">
              <h3 class="textoresponsive">Ayuda</h3>
          </a></div>
      <div class="MS"><a href="">
              <h3 class="textoresponsive">Libro de Reclamaciones</h3>
          </a></div>
  </div>

  <div class="sobreN">
      <h2>Contactanos</h2>
      <div class="wsp">
          <!-- <a href="https://bit.ly/investrealcotizaciones"> -->
            <a href="https://api.whatsapp.com/send?phone=51915157485&text=Hola%2C%20quisiera%20cambiar%20d%C3%B3lares%20...">

              <h3 class="textoresponsive">Whatsapp</h3>
          </a>
      </div>
      <div class="email">
          <a href="">
              <h3 class="textoresponsive">ventasinvestrealperu.com</h3>
          </a>
      </div>


      <div class="wsp">
          <!-- <a href="https://bit.ly/investrealcotizaciones"> -->
            <a target="_blank" href="https://api.whatsapp.com/send?phone=51915157485&text=Hola%2C%20quisiera%20cambiar%20d%C3%B3lares%20...">                       
                     
               <h3 class="textoresponsive">Ubicación</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.6282558375115!2d-75.21182782402013!3d-12.069078842318557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e9713324558a1%3A0x5caad97a011ea1e6!2sInvestreal%20Casa%20de%20Cambio!5e0!3m2!1ses-419!2spe!4v1717634257991!5m2!1ses-419!2spe" 
              width="250" height="120" style="border:0; border-radius: 4px!important;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </a>
         
      </div>
  </div>

  <div class="linkI">
      <h2>Link de Interes</h2>
      <div><a href="">
              <h3 class="textoresponsive">Dolar Hoy</h3>
          </a></div>

          <div><a href="">
              <h3 class="textoresponsive">Buscar CCI</h3>
          </a></div>

          <div><a href="">
              <h3 class="textoresponsive">Promociones</h3>
          </a></div>
  </div>
</footer>

</section>



</section>